@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{

    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background: #E5E5E5;
    width: 100%;
    
}

/*HEADER*/

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 56px;
}

.cabecalho-imagem{

    height: 70px;
    width: 155px;
    
    
}

.cabecalho-menu{

    display: flex;
    gap: 50px;

}

.cabecalho-menu-item1{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

.cabecalho-menu-item2{

    padding-left: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

/*CONTATO*/
.caixa{
    
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 183px;
    
}


/*CAIXA COM ENTRADA DE DADOS*/


.caixa-contatos{

    padding-top: 46px;
    
    border: 1px solid #660027;
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    width: 780px;
    height: 700px;
    
    margin-top: 51px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #7B7676;
}

h1{
    align-self: center;
    padding-bottom: 57px;
    width: 128px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #660027;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 525px;
    margin: 0 auto;
}

input{

    padding-left: 10px;
    align-items: center;
    border: 1px solid #660027;
    border-radius: 4px;
    width: 400px;
    height: 42px;
    margin-bottom: 29px;
}

textarea{
    padding-left: 10px;
    padding-top: 5px;
    width: 400px;
    height: 125px;
    border: 1px solid #660027;
    border-radius: 4px;
}

.caixa-contatos-botao-enviar{
    width: 128px;
    height: 42px;
    background: #660027;
    border: 2px solid #660027;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-top: 41px;

    color: #FFFFFF
}


/*CAIXA COM DADOS DOS CONTATOS*/
.sessao-caixa-contato{

    display: flex;
    flex-wrap: wrap;
    
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 700px;
    margin-left: 19px;
    justify-content: center;
    text-align: center;
    

    background: #660027;
    margin-top: 51px;
    
    
}

.caixa-com-contato{    
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #FEFEFE;
    

}

footer{
    display: none;
}