@media(max-width: 768px){
    body{
        width: 100%;              
    }
    .cabecalho{
        max-width: 595px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
    
    .caixa{
        
        max-width: 595px;
        margin: 0 auto;
    }
    
    .sessao-contatos{
        
        width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: left;

    }
    .caixa.contatos{
               
        width: 320px;
        margin: 0 auto;
    }
    
    .formulario-contatos{
        font-size: 14px;
        line-height: 16px;
        width: 263px;
    }
    input{
        max-width: 263px;
    }
    textarea{
        max-width: 263px;
    }

    .sessao-caixa-contato{
        max-width: 256px;
    }
    .caixa-com-contato{
        font-size: 14px;
        line-height: 16px;
    }
    footer{
        display: none;
    }

}

/*RESPONSIVIDADE CELULAR CONTATOS*/
@media(max-width: 360px){
    body{
        width: 100%; 
        margin: 0 auto;
        flex-wrap: wrap;             
    }
    .cabecalho{
        width: 155px;
        display: flex;
        flex-direction: column;
        
    }
    .cabecalho-menu{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-left: -100px;
        gap: 5px;
    }
    .divisao-cabecalho-menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
    .divisao-cabecalho-menu a{
        padding: 0;
    }
    .caixa{
        
        max-width: 320px;
        margin: 0 auto;
    }
    
    .sessao-contatos{
        
        width: 320px;
        margin: 0 auto;
        display: flex;
        justify-content: left;

    }
    .caixa.contatos{
               
        width: 320px;
        margin: 0 auto;
    }
    
    .formulario-contatos{
        font-size: 14px;
        line-height: 16px;
        width: 263px;
    }
    input{
        max-width: 263px;
    }
    textarea{
        max-width: 263px;
    }

    .sessao-caixa-contato{
        display: none;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        background: #660027;
        align-items: center;
        margin-top: 43px;
    }
    
    .conteudo-rodape{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        max-width: 1200px;   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FEFEFE;
        padding-top: 27px;
        padding-bottom: 42px;
        
    
    }
    
}