@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background: #E5E5E5;
}

/*HEADER*/

.cabecalho{

    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content:space-between;
    padding: 71px;
    

}

.cabecalho-imagem{

    height: 70px;
    width: 155px;
    top: 71px;
    left: 120px;

}

.cabecalho-menu{

    display: flex;
    gap: 50px;

}

.cabecalho-menu-item{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}

